---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Publication"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Publication","description":null}'
  recorded_at: Sat, 25 Sep 2021 10:13:43 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/subscription-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic"],"filterExpressions":[{"applicableMediaTypes":["application/xml"],"expressionString":{"expression":"//ccom:Entity","language":"XPath","languageVersion":"1.0"},"namespaces":[{"prefix":"ccom","name":"http://www.mimosa.org/ccom4"}]}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/5ae0a688-a471-4e83-a8fd-2bb92bcc8649
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"5ae0a688-a471-4e83-a8fd-2bb92bcc8649"}'
  recorded_at: Sat, 25 Sep 2021 10:13:43 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/publication-sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/8b03b52c-866f-48f3-ad7d-3e9ea7689365
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"8b03b52c-866f-48f3-ad7d-3e9ea7689365"}'
  recorded_at: Sat, 25 Sep 2021 10:13:43 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/8b03b52c-866f-48f3-ad7d-3e9ea7689365/publications
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/8b03b52c-866f-48f3-ad7d-3e9ea7689365/publications/8505574e-26f9-4187-a0ca-042ee3ad8de0
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"8505574e-26f9-4187-a0ca-042ee3ad8de0"}'
  recorded_at: Sat, 25 Sep 2021 10:13:43 GMT
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/sessions/5ae0a688-a471-4e83-a8fd-2bb92bcc8649/publication
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 200
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '1'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"8505574e-26f9-4187-a0ca-042ee3ad8de0","messageContent":{"content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n","mediaType":"application/xml"},"topics":["topic"]}'
  recorded_at: Sat, 25 Sep 2021 10:13:43 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/8b03b52c-866f-48f3-ad7d-3e9ea7689365
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 25 Sep 2021 10:13:43 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 25 Sep 2021 10:13:43 GMT
recorded_with: VCR 3.0.3
