---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Request"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Request","description":null}'
  recorded_at: Sun, 10 Oct 2021 06:58:00 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/provider-request-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic"],"filterExpressions":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/e7d4ca6c-3d71-4785-80b8-a2681c7b259d
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"e7d4ca6c-3d71-4785-80b8-a2681c7b259d"}'
  recorded_at: Sun, 10 Oct 2021 06:58:00 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/consumer-request-sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/6b48a355-b60f-4d9c-a813-9e0c7870061b
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"6b48a355-b60f-4d9c-a813-9e0c7870061b"}'
  recorded_at: Sun, 10 Oct 2021 06:58:00 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/6b48a355-b60f-4d9c-a813-9e0c7870061b/requests
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<test/>"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/6b48a355-b60f-4d9c-a813-9e0c7870061b/requests/97c3beed-af69-442d-94e5-abcf0388856a
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"97c3beed-af69-442d-94e5-abcf0388856a"}'
  recorded_at: Sun, 10 Oct 2021 06:58:01 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/e7d4ca6c-3d71-4785-80b8-a2681c7b259d/requests/97c3beed-af69-442d-94e5-abcf0388856a/responses
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","contentEncoding":"base64","content":"PHNvbWVYbWw+VGhpcyBpcyBYTUwgY29udGVudCBpbiBKU09OPC9zb21lWG1sPg=="}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/e7d4ca6c-3d71-4785-80b8-a2681c7b259d/requests/97c3beed-af69-442d-94e5-abcf0388856a/responses/487a8db5-5b0b-4c12-a87b-9961e5286ae0
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"487a8db5-5b0b-4c12-a87b-9961e5286ae0"}'
  recorded_at: Sun, 10 Oct 2021 06:58:01 GMT
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/sessions/6b48a355-b60f-4d9c-a813-9e0c7870061b/requests/97c3beed-af69-442d-94e5-abcf0388856a/response
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 200
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '1'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"487a8db5-5b0b-4c12-a87b-9961e5286ae0","messageContent":{"content":"PHNvbWVYbWw+VGhpcyBpcyBYTUwgY29udGVudCBpbiBKU09OPC9zb21lWG1sPg==","mediaType":"application/xml","contentEncoding":"base64"}}'
  recorded_at: Sun, 10 Oct 2021 06:58:01 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/e7d4ca6c-3d71-4785-80b8-a2681c7b259d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:58:01 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:58:01 GMT
recorded_with: VCR 3.0.3
