---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Publication"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Publication","description":null}'
  recorded_at: Sat, 25 Sep 2021 10:13:43 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/subscription-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic","another topic"],"filterExpressions":[{"applicableMediaTypes":["application/xml"],"expressionString":{"expression":"//ccom:Entity","language":"XPath","languageVersion":"1.0"},"namespaces":[{"prefix":"ccom","name":"http://www.mimosa.org/ccom4"}]}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/b4725715-03b6-43dc-b977-5c1e59b63896
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"b4725715-03b6-43dc-b977-5c1e59b63896"}'
  recorded_at: Sat, 25 Sep 2021 10:13:43 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/b4725715-03b6-43dc-b977-5c1e59b63896
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 25 Sep 2021 10:13:43 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 25 Sep 2021 10:13:43 GMT
recorded_with: VCR 3.0.3
