---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Request"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Request","description":null}'
  recorded_at: Sun, 10 Oct 2021 06:57:57 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/consumer-request-sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/909e36ff-dd54-4f6e-8bd1-f4ae2d76d918
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"909e36ff-dd54-4f6e-8bd1-f4ae2d76d918"}'
  recorded_at: Sun, 10 Oct 2021 06:57:57 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/909e36ff-dd54-4f6e-8bd1-f4ae2d76d918/requests
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","contentEncoding":"base64","content":"PHNvbWVYbWw+VGhpcyBpcyBYTUwgY29udGVudCBpbiBKU09OPC9zb21lWG1sPg=="},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/909e36ff-dd54-4f6e-8bd1-f4ae2d76d918/requests/4b335697-cb35-40f1-870e-94498b560115
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"4b335697-cb35-40f1-870e-94498b560115"}'
  recorded_at: Sun, 10 Oct 2021 06:57:57 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/909e36ff-dd54-4f6e-8bd1-f4ae2d76d918
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:57 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:57 GMT
recorded_with: VCR 3.0.3
