---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Request"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Request","description":null}'
  recorded_at: Sun, 10 Oct 2021 06:57:57 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/consumer-request-sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/c682ae7c-fac2-4cae-914c-a8461e14c850
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"c682ae7c-fac2-4cae-914c-a8461e14c850"}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/c682ae7c-fac2-4cae-914c-a8461e14c850/requests
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"text/plain","content":"plain text string"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/c682ae7c-fac2-4cae-914c-a8461e14c850/requests/e2c00e1c-594b-449e-bdf1-ca32a8ecf0cd
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"e2c00e1c-594b-449e-bdf1-ca32a8ecf0cd"}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/c682ae7c-fac2-4cae-914c-a8461e14c850
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
recorded_with: VCR 3.0.3
