---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Request"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Request","description":null}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/consumer-request-sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/62344605-fdcf-4e6c-836e-3d6a9b618174
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"62344605-fdcf-4e6c-836e-3d6a9b618174"}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/62344605-fdcf-4e6c-836e-3d6a9b618174/requests
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n"},"topics":["topic"],"expiry":"PT1H"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/62344605-fdcf-4e6c-836e-3d6a9b618174/requests/596fc262-8499-4b86-ad79-9527c0be2e41
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"596fc262-8499-4b86-ad79-9527c0be2e41"}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/62344605-fdcf-4e6c-836e-3d6a9b618174
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
recorded_with: VCR 3.0.3
