---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Publication"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Publication","description":null}'
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/subscription-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic"],"filterExpressions":[{"applicableMediaTypes":["application/xml"],"expressionString":{"expression":"//ccom:Entity","language":"XPath","languageVersion":"1.0"},"namespaces":[{"prefix":"ccom","name":"http://www.mimosa.org/ccom4"}]}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/e8cff637-c407-482d-a04a-465adec5327a
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"e8cff637-c407-482d-a04a-465adec5327a"}'
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/publication-sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/9e44ee89-6bff-43fc-a550-4f331275f2c0
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"9e44ee89-6bff-43fc-a550-4f331275f2c0"}'
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/9e44ee89-6bff-43fc-a550-4f331275f2c0/publications
    body:
      encoding: UTF-8
      string: '{"messageContent":{"content":{"ccomData":[{"entity":{"@@type":"Asset","uuid":"C013C740-19F5-11E1-92B7-6B8E4824019B"}}]}},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/9e44ee89-6bff-43fc-a550-4f331275f2c0/publications/9f7ae8c9-e7cb-407c-a5b2-67afd815d7bd
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"9f7ae8c9-e7cb-407c-a5b2-67afd815d7bd"}'
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/sessions/e8cff637-c407-482d-a04a-465adec5327a/publication
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 200
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '1'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"9f7ae8c9-e7cb-407c-a5b2-67afd815d7bd","messageContent":{"content":{"ccomData":[{"entity":{"@@type":"Asset","uuid":"C013C740-19F5-11E1-92B7-6B8E4824019B"}}]}},"topics":["topic"]}'
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/9e44ee89-6bff-43fc-a550-4f331275f2c0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
recorded_with: VCR 3.0.3
