---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Request"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Request","description":null}'
  recorded_at: Sun, 10 Oct 2021 06:58:06 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/provider-request-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic"],"filterExpressions":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/07449183-af5a-47dc-8b7e-9b3fa25c2319
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"07449183-af5a-47dc-8b7e-9b3fa25c2319"}'
  recorded_at: Sun, 10 Oct 2021 06:58:06 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/consumer-request-sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/fed44514-bb37-4c7b-a8ec-1c5517ebed68
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"fed44514-bb37-4c7b-a8ec-1c5517ebed68"}'
  recorded_at: Sun, 10 Oct 2021 06:58:06 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/fed44514-bb37-4c7b-a8ec-1c5517ebed68/requests
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"text/plain","content":"plain text string"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/fed44514-bb37-4c7b-a8ec-1c5517ebed68/requests/1b0a5d57-3938-402a-ad3b-da8a81f1c39e
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"1b0a5d57-3938-402a-ad3b-da8a81f1c39e"}'
  recorded_at: Sun, 10 Oct 2021 06:58:06 GMT
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/sessions/07449183-af5a-47dc-8b7e-9b3fa25c2319/request
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 200
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '1'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"1b0a5d57-3938-402a-ad3b-da8a81f1c39e","messageContent":{"content":"plain
        text string","mediaType":"text/plain"},"topics":["topic"]}'
  recorded_at: Sun, 10 Oct 2021 06:58:06 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/fed44514-bb37-4c7b-a8ec-1c5517ebed68
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:58:06 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:58:06 GMT
recorded_with: VCR 3.0.3
