---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Publication"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Publication","description":null}'
  recorded_at: Sat, 25 Sep 2021 10:13:45 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/subscription-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic"],"filterExpressions":[{"applicableMediaTypes":["application/xml"],"expressionString":{"expression":"//ccom:Entity","language":"XPath","languageVersion":"1.0"},"namespaces":[{"prefix":"ccom","name":"http://www.mimosa.org/ccom4"}]}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/4bda350a-2d09-451c-ad15-f73fb531c2bf
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"4bda350a-2d09-451c-ad15-f73fb531c2bf"}'
  recorded_at: Sat, 25 Sep 2021 10:13:45 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/publication-sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/60042143-3763-4afb-b169-1f64c4908824
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"60042143-3763-4afb-b169-1f64c4908824"}'
  recorded_at: Sat, 25 Sep 2021 10:13:45 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/60042143-3763-4afb-b169-1f64c4908824/publications
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","contentEncoding":"base64","content":"PHNvbWVYbWw+VGhpcyBpcyBYTUwgY29udGVudCBpbiBKU09OPC9zb21lWG1sPg=="},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/60042143-3763-4afb-b169-1f64c4908824/publications/d8faf188-5ba8-49be-b982-c9f998972f6b
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"d8faf188-5ba8-49be-b982-c9f998972f6b"}'
  recorded_at: Sat, 25 Sep 2021 10:13:45 GMT
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/sessions/4bda350a-2d09-451c-ad15-f73fb531c2bf/publication
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 200
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '1'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"d8faf188-5ba8-49be-b982-c9f998972f6b","messageContent":{"content":"PHNvbWVYbWw+VGhpcyBpcyBYTUwgY29udGVudCBpbiBKU09OPC9zb21lWG1sPg==","mediaType":"application/xml","contentEncoding":"base64"},"topics":["topic"]}'
  recorded_at: Sat, 25 Sep 2021 10:13:45 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/60042143-3763-4afb-b169-1f64c4908824
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 25 Sep 2021 10:13:45 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 25 Sep 2021 10:13:45 GMT
recorded_with: VCR 3.0.3
