---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Request"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Request","description":null}'
  recorded_at: Sun, 10 Oct 2021 06:58:05 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/provider-request-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic"],"filterExpressions":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/96074dd1-dcde-4fd0-be7f-21840f7ec7ce
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"96074dd1-dcde-4fd0-be7f-21840f7ec7ce"}'
  recorded_at: Sun, 10 Oct 2021 06:58:05 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/consumer-request-sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/f440e3f4-c425-4002-a5bb-404c11d325c3
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"f440e3f4-c425-4002-a5bb-404c11d325c3"}'
  recorded_at: Sun, 10 Oct 2021 06:58:05 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/f440e3f4-c425-4002-a5bb-404c11d325c3/requests
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/f440e3f4-c425-4002-a5bb-404c11d325c3/requests/a855cf27-cb5a-40a8-a2b3-4f23db2a9c24
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"a855cf27-cb5a-40a8-a2b3-4f23db2a9c24"}'
  recorded_at: Sun, 10 Oct 2021 06:58:05 GMT
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/sessions/96074dd1-dcde-4fd0-be7f-21840f7ec7ce/request
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 200
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '1'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"a855cf27-cb5a-40a8-a2b3-4f23db2a9c24","messageContent":{"content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n","mediaType":"application/xml"},"topics":["topic"]}'
  recorded_at: Sun, 10 Oct 2021 06:58:05 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/96074dd1-dcde-4fd0-be7f-21840f7ec7ce/requests/a855cf27-cb5a-40a8-a2b3-4f23db2a9c24/responses
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"text/plain","content":"plain text string"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/96074dd1-dcde-4fd0-be7f-21840f7ec7ce/requests/a855cf27-cb5a-40a8-a2b3-4f23db2a9c24/responses/10b3f699-e40c-4506-bea3-3d40b1c0a4f3
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"10b3f699-e40c-4506-bea3-3d40b1c0a4f3"}'
  recorded_at: Sun, 10 Oct 2021 06:58:05 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/f440e3f4-c425-4002-a5bb-404c11d325c3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:58:05 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:58:05 GMT
recorded_with: VCR 3.0.3
