---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Request"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Request","description":null}'
  recorded_at: Sun, 10 Oct 2021 06:58:00 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/provider-request-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic"],"filterExpressions":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/6effe5ee-c7e4-44e2-9648-8aa1dbbb09eb
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"6effe5ee-c7e4-44e2-9648-8aa1dbbb09eb"}'
  recorded_at: Sun, 10 Oct 2021 06:58:00 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/consumer-request-sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/9e5122cb-ee29-414d-bbeb-22f1bad444eb
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"9e5122cb-ee29-414d-bbeb-22f1bad444eb"}'
  recorded_at: Sun, 10 Oct 2021 06:58:00 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/9e5122cb-ee29-414d-bbeb-22f1bad444eb/requests
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<test/>"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/9e5122cb-ee29-414d-bbeb-22f1bad444eb/requests/063474ba-9a90-4883-b6b6-648d003fffb8
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"063474ba-9a90-4883-b6b6-648d003fffb8"}'
  recorded_at: Sun, 10 Oct 2021 06:58:00 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/6effe5ee-c7e4-44e2-9648-8aa1dbbb09eb/requests/063474ba-9a90-4883-b6b6-648d003fffb8/responses
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"text/plain","content":"plain text string"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/6effe5ee-c7e4-44e2-9648-8aa1dbbb09eb/requests/063474ba-9a90-4883-b6b6-648d003fffb8/responses/ba367e4b-213e-4bbe-8a19-7e5b2388df18
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"ba367e4b-213e-4bbe-8a19-7e5b2388df18"}'
  recorded_at: Sun, 10 Oct 2021 06:58:00 GMT
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/sessions/9e5122cb-ee29-414d-bbeb-22f1bad444eb/requests/063474ba-9a90-4883-b6b6-648d003fffb8/response
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 200
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '1'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"ba367e4b-213e-4bbe-8a19-7e5b2388df18","messageContent":{"content":"plain
        text string","mediaType":"text/plain"}}'
  recorded_at: Sun, 10 Oct 2021 06:58:00 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/6effe5ee-c7e4-44e2-9648-8aa1dbbb09eb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:58:00 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:58:00 GMT
recorded_with: VCR 3.0.3
