=begin
#ISBM 2.0

#An OpenAPI specification for the ISBM 2.0 RESTful interface.

The version of the OpenAPI document: 2.0
Contact: info@mimosa.org
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.2.0

=end

# Note this has been enhanced with the use of the session register 
# for notification support.

require 'cgi'

module ISBMRestAdaptor
  class ProviderPublicationServiceApi < ApplicationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Closes a session.
    # Closes a session of any type. All unexpired messages that have been posted during the session will be expired. ***Note*** This interface is shared by Close Publication Session, Close Subscription Session, Close Provider Request Session, and Close Consumer Request Session.
    # @param session_id [String] The identifier of the session to be accessed (retrieved, deleted, modified, etc.)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def close_session(session_id, opts = {})
      close_session_with_http_info(session_id, opts)
      nil
    end

    # Closes a session.
    # Closes a session of any type. All unexpired messages that have been posted during the session will be expired. ***Note*** This interface is shared by Close Publication Session, Close Subscription Session, Close Provider Request Session, and Close Consumer Request Session.
    # @param session_id [String] The identifier of the session to be accessed (retrieved, deleted, modified, etc.)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def close_session_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPublicationServiceApi.close_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling ProviderPublicationServiceApi.close_session"
      end
      # resource path
      local_var_path = '/sessions/{session-id}'.sub('{' + 'session-id' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['username_password']

      new_options = opts.merge(
        :operation => :"ProviderPublicationServiceApi.close_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPublicationServiceApi#close_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      @api_client.config.session_register.delete(session_id)
      return data, status_code, headers
    end

    # Expires a posted publication.
    # @param session_id [String] The identifier of the session to which the publication was posted.
    # @param message_id [String] The identifier of the posted publication.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def expire_publication(session_id, message_id, opts = {})
      expire_publication_with_http_info(session_id, message_id, opts)
      nil
    end

    # Expires a posted publication.
    # @param session_id [String] The identifier of the session to which the publication was posted.
    # @param message_id [String] The identifier of the posted publication.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def expire_publication_with_http_info(session_id, message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPublicationServiceApi.expire_publication ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling ProviderPublicationServiceApi.expire_publication"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling ProviderPublicationServiceApi.expire_publication"
      end
      # resource path
      local_var_path = '/sessions/{session-id}/publications/{message-id}'.sub('{' + 'session-id' + '}', CGI.escape(session_id.to_s)).sub('{' + 'message-id' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['username_password']

      new_options = opts.merge(
        :operation => :"ProviderPublicationServiceApi.expire_publication",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPublicationServiceApi#expire_publication\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Opens a publication session for a channel.
    # @param channel_uri [String] The identifier of the channel to be accessed (retrieved, deleted, modified, etc.)
    # @param [Hash] opts the optional parameters
    # @return [Session]
    def open_publication_session(channel_uri, opts = {})
      data, _status_code, _headers = open_publication_session_with_http_info(channel_uri, opts)
      data
    end

    # Opens a publication session for a channel.
    # @param channel_uri [String] The identifier of the channel to be accessed (retrieved, deleted, modified, etc.)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Session, Integer, Hash)>] Session data, response status code and response headers
    def open_publication_session_with_http_info(channel_uri, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPublicationServiceApi.open_publication_session ...'
      end
      # verify the required parameter 'channel_uri' is set
      if @api_client.config.client_side_validation && channel_uri.nil?
        fail ArgumentError, "Missing the required parameter 'channel_uri' when calling ProviderPublicationServiceApi.open_publication_session"
      end
      # resource path
      local_var_path = '/channels/{channel-uri}/publication-sessions'.sub('{' + 'channel-uri' + '}', CGI.escape(channel_uri.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Session'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['username_password']

      new_options = opts.merge(
        :operation => :"ProviderPublicationServiceApi.open_publication_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPublicationServiceApi#open_publication_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      # update the data with the implicit and provided values
      # (server returns only the ID)
      data.session_type = SessionType::PUBLICATION_PROVIDER
      @api_client.config.session_register << data
      return data, status_code, headers
    end

    # Posts a publication message on a channel.
    # @param session_id [String] The identifier of the session to which the message will be posted.
    # @param [Hash] opts the optional parameters
    # @option opts [Message] :message The Message to be published Only MessageContent, Topic, and Expiry are allowed in the request body.
    # @return [Message]
    def post_publication(session_id, opts = {})
      data, _status_code, _headers = post_publication_with_http_info(session_id, opts)
      data
    end

    # Posts a publication message on a channel.
    # @param session_id [String] The identifier of the session to which the message will be posted.
    # @param [Hash] opts the optional parameters
    # @option opts [Message] :message The Message to be published Only MessageContent, Topic, and Expiry are allowed in the request body.
    # @return [Array<(Message, Integer, Hash)>] Message data, response status code and response headers
    def post_publication_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProviderPublicationServiceApi.post_publication ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling ProviderPublicationServiceApi.post_publication"
      end
      # resource path
      local_var_path = '/sessions/{session-id}/publications'.sub('{' + 'session-id' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'message'])

      # return_type
      return_type = opts[:debug_return_type] || 'Message'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['username_password']

      new_options = opts.merge(
        :operation => :"ProviderPublicationServiceApi.post_publication",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProviderPublicationServiceApi#post_publication\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      # update the data with the implicit and provided values
      # (server returns only the ID)
      data.message_type = MessageType::PUBLICATION
      data.build_from_hash(opts[:message].to_hash)
      return data, status_code, headers
    end
  end
end
