---
http_interactions:
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/configuration/security-details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 200
      message: ''
    headers:
      WWW-Authenticate:
      - Basic realm="an ISBM instance"
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"isTLSEnabled":false,"isSecurityTokenRequired":false,"isSecurityTokenEncryptionEnabled":false,"isCertificateRequired":false,"isRBACEnabled":false,"isKeyManagementServiceEnabled":false,"isEndToEndMessageEncryptionEnabled":false}'
      effective_url: https://simpleisbm.assetricity.com/rest/configuration/security-details
  recorded_at: Sat, 23 Oct 2021 11:17:59 GMT
recorded_with: VCR 3.0.3
