---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/session+id/publications
    body:
      encoding: UTF-8
      string: '{"messageContent":{"content":"#<Object:0x00000000024889b8>"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"fault":"MessageContent/mediaType cannot be blank"}'
  recorded_at: Thu, 23 Sep 2021 12:20:53 GMT
recorded_with: VCR 3.0.3
