---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/not_real_session_id/publications
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<test/>"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"fault":"Could not find Session"}'
  recorded_at: Thu, 23 Sep 2021 14:22:11 GMT
recorded_with: VCR 3.0.3
