---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Publication"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Publication","description":null}'
  recorded_at: Thu, 23 Sep 2021 12:59:33 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/publication-sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/ccc56452-303f-4f18-a6ab-38810a867cbc
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"ccc56452-303f-4f18-a6ab-38810a867cbc"}'
  recorded_at: Thu, 23 Sep 2021 12:59:33 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/ccc56452-303f-4f18-a6ab-38810a867cbc/publications
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"text/plain","content":"plain text string"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/ccc56452-303f-4f18-a6ab-38810a867cbc/publications/57b80279-17c5-4d81-9fe7-5289e4144086
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"57b80279-17c5-4d81-9fe7-5289e4144086"}'
  recorded_at: Thu, 23 Sep 2021 12:59:33 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/ccc56452-303f-4f18-a6ab-38810a867cbc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 23 Sep 2021 12:59:33 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 23 Sep 2021 12:59:33 GMT
recorded_with: VCR 3.0.3
