---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Publication"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Publication","description":null}'
  recorded_at: Thu, 23 Sep 2021 14:11:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/publication-sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/3e1fe1c0-2648-4a62-8ddd-7d093fe62c3b
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"3e1fe1c0-2648-4a62-8ddd-7d093fe62c3b"}'
  recorded_at: Thu, 23 Sep 2021 14:11:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/3e1fe1c0-2648-4a62-8ddd-7d093fe62c3b/publications
    body:
      encoding: UTF-8
      string: '{"messageContent":{"content":{"ccomData":[{"entity":{"@@type":"Asset","uuid":"C013C740-19F5-11E1-92B7-6B8E4824019B"}}]}},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/3e1fe1c0-2648-4a62-8ddd-7d093fe62c3b/publications/b6af07f9-d13f-4e9a-a74c-738b3624b2b7
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"b6af07f9-d13f-4e9a-a74c-738b3624b2b7"}'
  recorded_at: Thu, 23 Sep 2021 14:11:58 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/3e1fe1c0-2648-4a62-8ddd-7d093fe62c3b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 23 Sep 2021 14:11:58 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 23 Sep 2021 14:11:58 GMT
recorded_with: VCR 3.0.3
