---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Publication"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Publication","description":null}'
  recorded_at: Thu, 23 Sep 2021 03:11:12 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/publication-sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/ab69c26b-47cf-4296-a1a7-9aa09d3a5a32
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"ab69c26b-47cf-4296-a1a7-9aa09d3a5a32"}'
  recorded_at: Thu, 23 Sep 2021 03:11:12 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/ab69c26b-47cf-4296-a1a7-9aa09d3a5a32/publications
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/ab69c26b-47cf-4296-a1a7-9aa09d3a5a32/publications/afb0548d-cefc-4e39-9886-ba63ae2fd256
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"afb0548d-cefc-4e39-9886-ba63ae2fd256"}'
  recorded_at: Thu, 23 Sep 2021 03:11:12 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/ab69c26b-47cf-4296-a1a7-9aa09d3a5a32
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 23 Sep 2021 03:11:12 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 23 Sep 2021 03:11:12 GMT
recorded_with: VCR 3.0.3
