---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Request"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Request","description":null}'
  recorded_at: Sun, 10 Oct 2021 06:58:03 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/provider-request-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic"],"filterExpressions":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/437e734d-cd07-40b1-ac65-40f29dbcc3bd
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"437e734d-cd07-40b1-ac65-40f29dbcc3bd"}'
  recorded_at: Sun, 10 Oct 2021 06:58:03 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/consumer-request-sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/c7b1ec76-d730-447a-a0a2-c3f57b873dd1
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"c7b1ec76-d730-447a-a0a2-c3f57b873dd1"}'
  recorded_at: Sun, 10 Oct 2021 06:58:03 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/c7b1ec76-d730-447a-a0a2-c3f57b873dd1/requests
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/c7b1ec76-d730-447a-a0a2-c3f57b873dd1/requests/41617fa8-d84b-4158-be54-797f7a8d8ae4
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"41617fa8-d84b-4158-be54-797f7a8d8ae4"}'
  recorded_at: Sun, 10 Oct 2021 06:58:03 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/437e734d-cd07-40b1-ac65-40f29dbcc3bd/request
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:58:03 GMT
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/sessions/437e734d-cd07-40b1-ac65-40f29dbcc3bd/request
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 404
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '0'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"fault":"There are no messages in the queue"}'
  recorded_at: Sun, 10 Oct 2021 06:58:03 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/c7b1ec76-d730-447a-a0a2-c3f57b873dd1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:58:03 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:58:03 GMT
recorded_with: VCR 3.0.3
