---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Request"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Request","description":null}'
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/provider-request-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic"],"filterExpressions":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/1d47741b-43bf-4454-af77-ff1623a75a73
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"1d47741b-43bf-4454-af77-ff1623a75a73"}'
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/consumer-request-sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/0320278d-4a2c-4db8-bc29-806573ffd092
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"0320278d-4a2c-4db8-bc29-806573ffd092"}'
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/0320278d-4a2c-4db8-bc29-806573ffd092/requests
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<test/>"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/0320278d-4a2c-4db8-bc29-806573ffd092/requests/2e541699-5e92-4077-a253-03cb2fc7aa23
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"2e541699-5e92-4077-a253-03cb2fc7aa23"}'
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/1d47741b-43bf-4454-af77-ff1623a75a73/requests/2e541699-5e92-4077-a253-03cb2fc7aa23/responses
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/1d47741b-43bf-4454-af77-ff1623a75a73/requests/2e541699-5e92-4077-a253-03cb2fc7aa23/responses/aa57c03d-0e7d-4396-b50b-5221ae8ed63b
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"aa57c03d-0e7d-4396-b50b-5221ae8ed63b"}'
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/0320278d-4a2c-4db8-bc29-806573ffd092/requests/2e541699-5e92-4077-a253-03cb2fc7aa23/response
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/sessions/0320278d-4a2c-4db8-bc29-806573ffd092/requests/2e541699-5e92-4077-a253-03cb2fc7aa23/response
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 404
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '0'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"fault":"There are no messages in the queue"}'
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/1d47741b-43bf-4454-af77-ff1623a75a73
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
recorded_with: VCR 3.0.3
