---
http_interactions:
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/configuration/supported-operations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"isXMLFilteringEnabled":true,"isJSONFilteringEnabled":true,"supportedContentFilteringLanguages":{"contentFilteringLanguages":[{"applicableMediaTypes":["application/xml","text/xml"],"languageName":"XPath","languageVersion":"1.0"},{"applicableMediaTypes":["application/json"],"languageName":"JSONPath","languageVersion":"com.jayway.jsonpath:json-path:2.4.0"}]},"supportedAuthentications":{"soapSupportedTokenSchemas":[{"namespaceName":"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd","schemaLocation":"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"}],"restSupportedAuthenticationSchemes":[{"schemeName":"Basic","schemeInfoUrl":"https://tools.ietf.org/html/rfc7617"}]},"securityLevelConformance":1,"isDeadLetteringEnabled":true,"isChannelCreationEnabled":true,"isOpenChannelSecuringEnabled":false,"isWhitelistRequired":false,"defaultExpiryDuration":null,"additionalInformationURL":"http://simpleisbm.assetricity.com/"}'
      effective_url: https://simpleisbm.assetricity.com/rest/configuration/supported-operations
  recorded_at: Sat, 23 Oct 2021 23:34:01 GMT
recorded_with: VCR 3.0.3
