---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Publication"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Publication","description":null}'
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/subscription-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic"],"filterExpressions":[{"applicableMediaTypes":["application/xml"],"expressionString":{"expression":"//ccom:Entity","language":"XPath","languageVersion":"1.0"},"namespaces":[{"prefix":"ccom","name":"http://www.mimosa.org/ccom4"}]}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/efafd736-156b-45a8-9421-11d9de727921
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"efafd736-156b-45a8-9421-11d9de727921"}'
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/publication-sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/b072512e-fafb-47b1-9816-85da5db62aae
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"b072512e-fafb-47b1-9816-85da5db62aae"}'
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/b072512e-fafb-47b1-9816-85da5db62aae/publications
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/b072512e-fafb-47b1-9816-85da5db62aae/publications/40cecb45-7898-47fd-8f81-087266689b91
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"40cecb45-7898-47fd-8f81-087266689b91"}'
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/efafd736-156b-45a8-9421-11d9de727921/publication
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/sessions/efafd736-156b-45a8-9421-11d9de727921/publication
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 404
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '0'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"fault":"There are no messages in the queue"}'
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/b072512e-fafb-47b1-9816-85da5db62aae
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 25 Sep 2021 10:13:44 GMT
recorded_with: VCR 3.0.3
