---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Request"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Request","description":null}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/provider-request-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic"],"filterExpressions":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/f325e44e-55ed-4eff-aef4-6e1189ee0dc4
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"f325e44e-55ed-4eff-aef4-6e1189ee0dc4"}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/consumer-request-sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/80ad59e4-d33c-4f24-8ba2-0c828c84bad2
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"80ad59e4-d33c-4f24-8ba2-0c828c84bad2"}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/80ad59e4-d33c-4f24-8ba2-0c828c84bad2/requests
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<test/>"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/80ad59e4-d33c-4f24-8ba2-0c828c84bad2/requests/05b4f36b-5ab4-4b3d-b167-2d7e264f7d30
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"05b4f36b-5ab4-4b3d-b167-2d7e264f7d30"}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/f325e44e-55ed-4eff-aef4-6e1189ee0dc4/requests/05b4f36b-5ab4-4b3d-b167-2d7e264f7d30/responses
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/f325e44e-55ed-4eff-aef4-6e1189ee0dc4/requests/05b4f36b-5ab4-4b3d-b167-2d7e264f7d30/responses/60c61492-e03c-4fd6-8cb9-447b05b0f010
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"60c61492-e03c-4fd6-8cb9-447b05b0f010"}'
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/sessions/80ad59e4-d33c-4f24-8ba2-0c828c84bad2/requests/05b4f36b-5ab4-4b3d-b167-2d7e264f7d30/response
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 200
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '1'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"60c61492-e03c-4fd6-8cb9-447b05b0f010","messageContent":{"content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n","mediaType":"application/xml"}}'
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/f325e44e-55ed-4eff-aef4-6e1189ee0dc4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:59 GMT
recorded_with: VCR 3.0.3
