---
http_interactions:
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels
    body:
      encoding: UTF-8
      string: '{"uri":"/Test","channelType":"Request"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/channels/%2FTest
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/Test","channelType":"Request","description":null}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/provider-request-sessions
    body:
      encoding: UTF-8
      string: '{"topics":["topic"],"filterExpressions":[]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/1acf8278-b05a-40d0-bd63-c8580a156e76
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"1acf8278-b05a-40d0-bd63-c8580a156e76"}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest/consumer-request-sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/7f348779-9845-4ee8-9403-4db665575b1c
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sessionId":"7f348779-9845-4ee8-9403-4db665575b1c"}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/7f348779-9845-4ee8-9403-4db665575b1c/requests
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<test/>"},"topics":["topic"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/7f348779-9845-4ee8-9403-4db665575b1c/requests/ac34603f-e43e-48bb-a6aa-9eb076486746
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"ac34603f-e43e-48bb-a6aa-9eb076486746"}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: post
    uri: https://simpleisbm.assetricity.com/rest/sessions/1acf8278-b05a-40d0-bd63-c8580a156e76/requests/ac34603f-e43e-48bb-a6aa-9eb076486746/responses
    body:
      encoding: UTF-8
      string: '{"messageContent":{"mediaType":"application/xml","content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://simpleisbm.assetricity.com/rest/sessions/1acf8278-b05a-40d0-bd63-c8580a156e76/requests/ac34603f-e43e-48bb-a6aa-9eb076486746/responses/a813255a-8487-4174-80d3-b4e0cd03bc86
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"a813255a-8487-4174-80d3-b4e0cd03bc86"}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: get
    uri: https://simpleisbm.assetricity.com/rest/sessions/7f348779-9845-4ee8-9403-4db665575b1c/requests/ac34603f-e43e-48bb-a6aa-9eb076486746/response
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 200
      message: ''
    headers:
      Simpleisbm-Queued-Messages:
      - '1'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"messageId":"a813255a-8487-4174-80d3-b4e0cd03bc86","messageContent":{"content":"<CCOMData
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n          xmlns=\"http://www.mimosa.org/ccom4\">\r\n  <Entity
        xsi:type=\"Asset\">\r\n    <UUID>C013C740-19F5-11E1-92B7-6B8E4824019B</UUID>\r\n  </Entity>\r\n</CCOMData>\r\n","mediaType":"application/xml"}}'
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/sessions/1acf8278-b05a-40d0-bd63-c8580a156e76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
[...]
- request:
    method: delete
    uri: https://simpleisbm.assetricity.com/rest/channels/%2FTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dTE6cDE=
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 10 Oct 2021 06:57:58 GMT
recorded_with: VCR 3.0.3
